@using E_Ecommerce_Shared.DTO
@model ICollection<CategoriesDto>

    <table cellpadding="10" cellspacing="10" border="1">
        <tr>
        <th>CategoryId</th>
        <th>CategoryName</th>
        <th>CategoryDescription</th>
        <th>CategoryLevel</th>
        <th>ParentId</th>
        </tr>
        @foreach (var cat in Model)
        {
            <tr>
                <td>@cat.CategoryId</td>
                <td>@cat.CategoryName</td>
                <td>@cat.CategoryDescription</td>
                <td>@cat.CategoryLevel</td>
                <td>@cat.ParentId</td>
            </tr>
        }
    </table>
