@page 
@model E_Ecommerce_CustomerSite.Pages.SearchModel
@{
}
<section class="content my-4">
    <div class="container-xl d-flex ">
        <div class="filter" style="width:420px"></div>
        @if (@Model.productViewModel.productsDtos != null)
        {
            <div class="noidung bg-white position-relative" style=" width: 100%;">
                <!-- header của khối sản phẩm : tag(tác giả), bộ lọc và sắp xếp  -->

                <div class="header-khoi-sp d-flex">
                    <div class="sort d-flex ml-auto">
                        <div class="hien-thi d-flex">
                            <label for="hienthi-select" class="label-select">Hiển thị</label>
                            <div class="dropdown">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" id="pagingDropDownMenuBtn" type="button">@Model.productViewModel.pageSize</button>
                                <div aria-labelledby="pagingDropDownMenuBtn" class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item active" asp-page="category" asp-route-id="@Model.pagingRequestDto.Search" asp-route-p=1&amp asp-route-s=10>10</a>
                                    <a class="dropdown-item active" asp-page="category" asp-route-id="@Model.pagingRequestDto.Search" asp-route-p=1&amp asp-route-s=20>20</a>
                                    <a class="dropdown-item active" asp-page="category" asp-route-id="@Model.pagingRequestDto.Search" asp-route-p=1&amp asp-route-s=30>30</a>
                                </div>
                            </div>
                        </div>
                        <div class="sap-xep">
                            <label for="sapxep-select" class="label-select">Sắp xếp</label>
                            <select class="sapxep-select">
                                <option value="moinhat">Mới nhất</option>
                                <option value="thap-cao">Giá: Thấp - Cao</option>
                                <option value="cao-thap">Giá: Cao - Thấp</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- các sản phẩm  -->
            @await Component.InvokeAsync("Product",@Model.productViewModel)
                @*   <vc productViewModel=productViewModel></vc>*@


                <!--het khoi san pham-->
            </div>
        }
        else
        {
            <p>Sản phẩm không còn</p>
        }

        <!--het div noidung-->
    </div>
    <!--het container-xl-->
</section>
