@using E_Ecommerce_Shared.DTO
@model ICollection<CategoriesDto>

@{
    @foreach (var cat in Model)
    {
    <tr>
                <td>@cat.CategoryId</td>
                <td>@cat.CategoryName</td>
                <td>@cat.CategoryDescription</td>
                <td>@cat.CategoryLevel</td>
                <td>@cat.ParentId</td>
    </tr>
    }
    <div class="category-size categorycontent">
        <ul>
            <li>
                <a>
                    {{ cat.CatName }}
                </a>
                <i class="fa fa-chevron-right float-right"></i>
                <div class="categorycontent">
                <ul>
                    <li class="liheader">
                        <a class="header text-uppercase">
                            {{ cat.CatName }}
                        </a>
                        <i class="fa fa-chevron-right float-right"></i>
                        <ul>
                            <li class="">
                                <a class="header text-uppercase">{{ catChild.CatName }}</a>
                            </li>
                        </ul>
                    </li>
              

                    </ul>
                </div>
            </li>
            <li>
                <a>
                    Xem tất cả sản phẩm
                </a>
            </li>
        </ul>
    </div>
}
