
@using E_Ecommerce_Shared.DTO.Categories
@model ICollection<CategoriesDto>

@{
    <div class="main-nav">
        <ul>
            @if (@Model.Count > 0)
            {
                @foreach (var cat in Model)
                {
                    <li>
                        <a asp-page="Category" asp-route-id="@cat.CategoryId">
                            @cat.CategoryName
                        </a>
                        @if (cat.Child?.Count > 0)
                        {

                            <ul class="sub-nav">
                                <li class="liheader">
                                    <a asp-page="Category" asp-route-id="@cat.CategoryId" class="fw-bold">
                                        @cat.CategoryName

                                    </a>
                                </li>
                                @foreach (var catChild in cat.Child)
                                {
                                    <li class="liheader">
                                        <a asp-page="Category" asp-route-id="@catChild.CategoryId">
                                            @catChild.CategoryName
                                        </a>
                                        @if (catChild.Child?.Count > 0)
                                        {

                                            <ul class="sub-nav-2">
                                                <li class="liheader">
                                                    <a asp-page="Category" asp-route-id="@catChild.CategoryId" class="fw-bold">
                                                        @catChild.CategoryName
                                                    </a>
                                                </li>
                                                @foreach (var catChild2 in catChild.Child)
                                                {
                                                    <li class="liheader">
                                                        <a asp-page="Category" asp-route-id="@catChild2.CategoryId">   @catChild2.CategoryName</a>
                                                    </li>
                                                }
                                            </ul>

                                        }
                                    </li>
                                }
                            </ul>

                        }
                    </li>
                }
            }
        </ul>
    </div>
}
